@font-face {
	font-family: Althea;
	src: url(../fonts/Althea-Regular.ttf);
}

body {
	background-color: #6e436e;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	padding-top: 50px;
}

.navbar {
	background-color: #6e436e !important;
}

.navbar-brand{
	font-size: 1.5em;
	font-family: Althea, serif;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
	opacity: 0.7;
	background-color: #7A4B7A;
}

.navbar-nav {
	float: right;
	font-size: 1.3em;
	font-style: normal;
}

.navbar-nav li:hover, .active {
	opacity: 0.7;
	background-color: #7A4B7A;
}

.navbar a {
	color: #FBFFB5 !important;
}

.jumbotron {
	/*background-color: #faff96;*/
}

.btn-primary {
	background-color: #6e436e;
	border: none;
	color: #fbffb5;
}

.btn-primary:hover {
	background-color: #7A4B7A;
	color: #fbffb5;
}

.content {
	background-color: #FFFFFF;
	border: 3px solid #FFFFFF;
	border-radius: 5px;
}

.cheat-sheet-box {
	width: 200px;
	float:left;
	margin-right: 10px;
	background-color: #FFFFFF;
}

hr {
	border-color: #FBFFB5;
	margin-bottom: 5px;
}

.clear {
	clear: left;
}

footer {
	color: #FBFFB5;
}

/* Grundlagen */

#search-example-carousel .carousel-indicators li {
	background-color: #7A4B7A;
}

#search-example-carousel .carousel-indicators .active {
	background-color: #FBFFB5;
}

#search-example-carousel .item.active {
	opacity: 1;
}

#search-example-carousel .item .carousel-caption {
	top: 20px;
}

#search-example-carousel .item .carousel-caption .content {
	color: #7A4B7A;
	padding: 20px;
	font-size: 20px;
	text-shadow: none;
}

#search-example-carousel .carousel-control {
	background-image: none;
}

#search-example-carousel .carousel-control span {
	color: #7A4B7A;
}

#search-example-carousel .list-group {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
}

#history-carousel .carousel-indicators li {
	background-color: #7A4B7A;
}

#history-carousel .carousel-indicators .active {
	background-color: #FBFFB5;
}

#history-carousel .item.active {
	opacity: 1;
}

#history-carousel .item .float {
	float: left;
}

#history-carousel .item .carousel-caption {
	top: 20px;
}

.carousel-right {
	float: right;
}

.carousel-lift {
	float: left;
}

.carousel-image {
	width: 300px;
	height: 400px;
	/*padding-left: 20px;*/
	/*padding-bottom: 20px;*/
	/*padding: 20px;*/
}

.carousel-padding {
	padding: 20px;
}

#history-carousel .item .carousel-caption div {
	color: #FFFFFF;
	padding: 70px;
	text-align: center;
	font-size: 20px;
	text-shadow: none;
	overflow: hidden;
}

#history-carousel .carousel-control {
	background-image: none;
}

#history-carousel .carousel-control span {
	color: #7A4B7A;
}

#history-carousel .list-group {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
}